@font-face {
    font-family: 'Pastoral';
    src: url('../public/fonts/Pastoral-Regular.ttf') format("ttf"), url('../public/fonts/Pastoral-Regular.woff') format("woff");;
}
:root{
    --white: #ffffff;
    --grey: #999999;
    --black: #000000;
    --background: rgba(0, 0, 0, .7);
    --wiet: #64BF4E;
    --alcohol: #FE9119;
    --lachgas: #A61D80;
    --amfetamine: #1291B1;
    --xtc: #D728A0;
    --tabak: #B99832;
    --coke: #7952E6;
    --ghb: #9373B1;
    --keta: #C7D428;
}
html,
body,
#root{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pastoral";
}
.video{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
}
.data{
    width: 90%;
    height: 85%;
    color: var(--grey);
    z-index: 100;
    position: absolute;
    padding: 2em;
    display: none;
}
.gebruikers{
    display: flex;
    align-items: center;
}
.gebruikers h2{
    font-size: 68px;
    margin: 0px;
}
.gebruikers h3{
    font-size: 24px;
    margin: 0px;
    margin-left: 1em;
}
.gebruikers span{
    color: var(--wiet);
    font-style: italic;
}
.cross{
    height: 3em;
    width: 3em;
    position: absolute;
    top: 2.5em;
    right: 2.5em;
    background-image: url("../public/images/x.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}
.blokken{
    color: var(--white);
}
.blokken, .blokteksten{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    gap: 20px;
}
.blokken > section, .blokteksten > section{
    height: 100%;
    width: 100%;
    border-radius: 15px 0px;
    box-shadow: 0px 0px 6px rgb(28 55 90 / 10%);
    padding: .5em;
    text-align: center;
    color: var(--grey);
}
.wietdata, .alcoholdata, .cokedata, .ketadata, .xtcdata, .ghbdata, .amfetaminedata, .tabakdata, .lachgasdata{
    display: none;
}
.wietdata, .alcoholdata, .cokedata, .ketadata, .xtcdata, .ghbdata, .amfetaminedata, .tabakdata, .lachgasdata{
    padding: 2em;
    border-radius: 15px 0px;
    background-color: var(--background);
}
.leeftijdsgroepen svg{
    width: 100%;
}
.dataziekenhuis ul{
    list-style: none;
    padding: 0;
}
.dataziekenhuis li{
    font-size: 24px;
}
.dataziekenhuis li:first-of-type:before{
    content: "Hoofddiagnose: ";
    font-size: 16px;
}
.dataziekenhuis li:nth-of-type(2):before{
    content: "Nevendiagnose: ";
    font-size: 16px;
}
.dataziekenhuis li:nth-of-type(2){
    border-bottom: 2px solid;
    padding: .5em;
}
.dataziekenhuis li:nth-of-type(3){
    margin-top: .5em;
    font-size: 24px
}
.dataziekenhuis li:nth-of-type(3):before{
    content: "Totaal: ";
    font-size: 24px;
    color: var(--grey);
}
.hide{
    display: none;
}
.show{
    display: block;
}
/* kleurtjes chart */
.wietdata .pie path{
    fill: var(--wiet);
}
.wietdata .pie path:nth-of-type(2){
    opacity: .5;
}
.ketadata .pie path{
    fill: var(--keta);
}
.ketadata .pie path:nth-of-type(2){
    opacity: .5;
}
.cokedata .pie path{
    fill: var(--coke);
}
.cokedata .pie path:nth-of-type(2){
    opacity: .5;
}
.xtcdata .pie path{
    fill: var(--xtc);
}
.xtcdata .pie path:nth-of-type(2){
    opacity: .5;
}
.amfetaminedata .pie path{
    fill: var(--amfetamine);
}
.amfetaminedata .pie path:nth-of-type(2){
    opacity: .5;
}
.ghbdata .pie path{
    fill: var(--ghb);
}
.ghbdata .pie path:nth-of-type(2){
    opacity: .5;
}
.lachgasdata .pie path{
    fill: var(--lachgas);
}
.lachgasdata .pie path:nth-of-type(2){
    opacity: .5;
}
.tabakdata .pie path{
    fill: var(--tabak);
}
.tabakdata .pie path:nth-of-type(2){
    opacity: .5;
}
/* Kleurtjes drugs */
.blokken > section span{
    font-style: italic;
    border-radius: 15px 0px;
}
.gebruikers #wietgebruikers, .wietdata span{
    color: var(--wiet);
}
.wietdata .blokken > section{
    border: 2px solid var(--wiet);
}
.alcoholdata .blokken > section{
    border: 2px solid var(--alcohol)
}
.gebruikers #alcoholgebruikers, .alcoholdata span{
    color: var(--alcohol);
}
.cokedata .blokken > section{
    border: 2px solid var(--coke)
}
.gebruikers #cokegebruikers, .cokedata span{
    color: var(--coke);
}
.xtcdata .blokken > section{
    border: 2px solid var(--xtc)
}
.gebruikers #xtcgebruikers, .xtcdata span{
    color: var(--xtc);
}
.amfetaminedata .blokken > section{
    border: 2px solid var(--amfetamine)
}
.gebruikers #amfetaminegebruikers, .amfetaminedata span{
    color: var(--amfetamine);
}
.ghbdata .blokken > section{
    border: 2px solid var(--ghb)
}
.gebruikers #ghbgebruikers, .ghbdata span{
    color: var(--ghb);
}
.lachgasdata .blokken > section{
    border: 2px solid var(--lachgas)
}
.gebruikers #lachgasgebruikers, .lachgasdata span{
    color: var(--lachgas);
}
.ketadata .blokken > section{
    border: 2px solid var(--keta)
}
.gebruikers #ketagebruikers, .ketadata span{
    color: var(--keta);
}
.tabakdata .blokken > section{
    border: 2px solid var(--tabak)
}
.gebruikers #tabakgebruikers, .tabakdata span{
    color: var(--tabak);
}
.wietdata{
    border: 2px solid var(--wiet);
}
.cokedata{
    border: 2px solid var(--coke);
}
.alcoholdata{
    border: 2px solid var(--alcohol);
}
.ketadata{
    border: 2px solid var(--keta);
}
.xtcdata{
    border: 2px solid var(--xtc);
}
.ghbdata{
    border: 2px solid var(--ghb);
}
.amfetaminedata{
    border: 2px solid var(--amfetamine);
}
.tabakdata{
    border: 2px solid var(--tabak);
}
.lachgasdata{
    border: 2px solid var(--lachgas);
}
/* Ziekenhuis kleur */
#wietziekenhuis li:nth-of-type(3), .wietdata h5{
    color: var(--wiet);
}
.wietdata h5:nth-of-type(2){
    opacity: .5;
}
#alcoholziekenhuis li:nth-of-type(3), .alcoholdata h5{
    color: var(--alcohol);
}
.alcoholdata h5:nth-of-type(2){
    opacity: .5;
}
#cokeziekenhuis li:nth-of-type(3), .cokedata h5{
    color: var(--coke);
}
.cokedata h5:nth-of-type(2){
    opacity: .5;
}
#xtcziekenhuis li:nth-of-type(3), .xtcdata h5{
    color: var(--xtc);
}
.xtcdata h5:nth-of-type(2){
    opacity: .5;
}
#amfetamineziekenhuis li:nth-of-type(3), .amfetaminedata h5{
    color: var(--amfetamine);
}
.amfetaminedata h5:nth-of-type(2){
    opacity: .5;
}
#tabakziekenhuis li:nth-of-type(3), .tabakdata h5{
    color: var(--tabak);
}
.tabakdata h5:nth-of-type(2){
    opacity: .5;
}
.ketadata h5{
    color: var(--keta);
}
.ketadata h5:nth-of-type(2){
    opacity: .5;
}
.lachgasdata h5{
    color: var(--lachgas);
}
.lachgasdata h5:nth-of-type(2){
    opacity: .5;
}
.ghbdata h5{
    color: var(--ghb);
}
.ghbdata h5:nth-of-type(2){
    opacity: .5;
}
/* kruisje */
.wietdata button{
    background-color: var(--wiet);
}
.cokedata button{
    background-color: var(--coke);
}
.xtcdata button{
    background-color: var(--xtc);
}
.amfetaminedata button{
    background-color: var(--amfetamine);
}
.ghbdata button{
    background-color: var(--ghb);
}
.lachgasdata button{
    background-color: var(--lachgas);
}
.ketadata button{
    background-color: var(--keta);
}
.alcoholdata button{
    background-color: var(--alcohol);
}
.tabakdata button{
    background-color: var(--tabak);
}