@font-face {
    font-family: 'Pastoral';
    src: url('../public/fonts/Pastoral-Regular.ttf') format("ttf"), url('../public/fonts/Pastoral-Regular.woff') format("woff");;
}
:root{
    --white: #ffffff;
    --black: #000000;
    --wiet: #64BF4E;
    --alcohol: #FE9119;
    --lachgas: #A61D80;
    --amfetamine: #1291B1;
    --xtc: #D728A0;
    --tabak: #B99832;
    --coke: #7952E6;
    --ghb: #9373B1;
    --keta: #C7D428;
}
html,
body,
#root{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pastoral";
}
.data{
    width: 90%;
    height: 85%;
    background-color: var(--white);
    z-index: 100;
    position: absolute;
    padding: 2em;
    display: none;
}
.gebruikers{
    display: flex;
    align-items: center;
}
.gebruikers h2{
    font-size: 68px;
    margin: 0px;
}
.gebruikers h3{
    font-size: 24px;
    margin: 0px;
    margin-left: 1em;
}
.gebruikers span{
    color: var(--wiet);
    font-style: italic;
}
.cross{
    height: 3em;
    width: 3em;
    position: absolute;
    top: 2em;
    right: 2em;
}
.blokken{
    color: var(--white);
}
.blokken, .blokteksten{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    gap: 20px;
}
.blokken > section, .blokteksten > section{
    height: 100%;
    width: 100%;
    border-radius: 15px 0px;
    box-shadow: 0px 0px 6px rgb(28 55 90 / 10%);
    padding: .5em;
    text-align: center;
}
.blokteksten > section{
    aspect-ratio: 1 / 1;
}
.wietdata, .alcoholdata, .cokedata, .ketadata, .xtcdata, .ghbdata, .amfetaminedata, .tabakdata, .lachgasdata{
    display: none;
}
.hide{
    display: none;
}
.show{
    display: block;
}
/* Kleurtjes drugs */
.blokken > section span{
    color: var(--white);
    font-style: italic;
}
.gebruikers #wietgebruikers, .wietdata span{
    color: var(--wiet);
}
.wietdata .blokken > section{
    background-color: var(--wiet);
}
.alcoholdata .blokken > section{
    background-color: var(--alcohol)
}
.gebruikers #alcoholgebruikers, .alcoholdata span{
    color: var(--alcohol);
}
.cokedata .blokken > section{
    background-color: var(--coke)
}
.gebruikers #cokegebruikers, .cokedata span{
    color: var(--coke);
}
.xtcdata .blokken > section{
    background-color: var(--xtc)
}
.gebruikers #xtcgebruikers, .xtcdata span{
    color: var(--xtc);
}
.amfetaminedata .blokken > section{
    background-color: var(--amfetamine)
}
.gebruikers #amfetaminegebruikers, .amfetaminedata span{
    color: var(--amfetamine);
}
.ghbdata .blokken > section{
    background-color: var(--ghb)
}
.gebruikers #ghbgebruikers, .ghbdata span{
    color: var(--ghb);
}
.lachgasdata .blokken > section{
    background-color: var(--lachgas)
}
.gebruikers #lachgasgebruikers, .lachgasdata span{
    color: var(--lachgas);
}
.ketadata .blokken > section{
    background-color: var(--keta)
}
.gebruikers #ketagebruikers, .ketadata span{
    color: var(--keta);
}
.tabakdata .blokken > section{
    background-color: var(--tabak)
}
.gebruikers #tabakgebruikers, .tabakdata span{
    color: var(--tabak);
}